{extend name="base/base" /}
{block name="main"}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->

        <div class="box">


            <div class="box-header">
                <h3 class="box-title">客户列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <div style="position: relative">
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>
                        <a href="javascript:;" type="button" class="btn btn-default pull-right" id="export">
                            导出
                        </a>
                    </div>
                    <tr>
                        <th></th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>联系电话</th>
                        <th>微信账号</th>
                        <th>贷款金额</th>
                        <th>芝麻信用分</th>
                        <th>云端分发</th>
                        <th>详细信息</th>
                    </tr>
                    </thead>
                    <tbody id="result">
                    <?php foreach($data as $single):?>
                    <tr>
                        <td><input type="checkbox" name="checkNum" value="<?=$single['customer_id']?>" class="checkSingle"></td>
                        <td><?=$single['name']?></td>
                        <td><?=$single['age']?></td>
                        <td><?=$single['tel']?></td>
                        <td><?=$single['wx_number']?></td>
                        <td><?=$single['loan_amount']?></td>
                        <td><?=$single['credit']?></td>
                        <td><?=date("Y-m-d H:i:s",$single['add_time'])?></td>
                        <td><a href="/borrower/single/<?=$single['customer_id']?>">查看</a></td>
                    </tr>
                    <?php endforeach;?>

                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script>

    $(".checkbox-toggle").click(function () {

        $(".checkSingle").attr('checked','checked');

        var clicks = $(this).data('clicks');
        if (clicks) {
            //Uncheck all checkboxes
            $("input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
        } else {
            //Check all checkboxes
            $("input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
        }
        $(this).data("clicks", !clicks);
    });

    $(".checkSingle").on("click",function () {
        $(this).attr('checked','checked');
    });

    $("#export").on("click",function () {
        //alert(1);
        var obj=document.getElementsByName('checkNum');
        var s='';
        for(var i=0; i<obj.length; i++){
            if(obj[i].checked){
                s += obj[i].value;
                s += ',';
            }
        }
        //导出
        if(s == ''){
            layer.msg("请至少选择一条进行导出",{icon:0});
            return false;
        }
        else {
            window.location.href = "/borrower/export/"+s;
        }
    })


</script>
{/block}