
    {extend name="base/base" /}
    {block name="main"}
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <i class="fa fa-text-width"></i>
                            <h3 class="box-title">信息公告</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <?php foreach($data as $d):?>
                            <p class="text-yellow"><a href="/borrower/detail/<?=$d['information_id']?>"><?=$d['title']?></a>&nbsp;&nbsp;&nbsp;&nbsp;<span><?=date('Y-m-d h:i:s',$d['time'])?></span></p>
                            <?php endforeach;?>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                </div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
{/block}