
    {extend name="base/base" /}
    {block name="main"}
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <!-- /.box -->

                    <!-- Form Element sizes -->
                    <!-- /.box -->
                    <div class="box-header with-border">
                        <h3 class="box-title">信息反馈</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="question_type">问题类型</label>
                                <input type="text" class="form-control" id="question_type" name="question_type" placeholder="问题类型">
                            </div>
                            <div class="form-group">
                                <label for="detail">信息反馈描述</label>
                                <textarea class="form-control" id="detail" placeholder="信息反馈描述" rows="10" cols="200" name="detail">
                                </textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button  class="btn btn-primary">确认提交</button>
                        </div>
                </div>
                </div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="__STATIC__/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
 $(".btn-primary").on('click',function () {
     var question_type1 = $("#question_type").val();
     var detail1 = $("#detail").val();
     if(question_type1.trim() == ''){
         layer.msg("问题类型不能为空",{icon:0});
         return false;
     }
     if(detail1.trim() == ''){
         layer.msg("详情不能为空",{icon:0});
         return false;
     }
     $.post("{:url('borrower/Customer/question')}",{'question_type':question_type1,'detail':detail1},function (data) {
         if(data.status == 1){
             layer.msg(data.msg,{icon:1,time:1000},function () {
                 window.location.reload();
             });
         }
         else {
             layer.msg(data.msg,{icon:0,time:1000},function () {
                 window.location.reload();
             });
             return false;
         }
     })
 })
</script>
{/block}

