{extend name="base/base" /}
{block name="main"}
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">使用须知</a></li>
            <li><a href="#timeline" data-toggle="tab">常见问题</a></li>
            <li><a href="#settings" data-toggle="tab">客服服务</a></li>
        </ul>
        <div class="tab-content">

            <div class="active tab-pane" id="activity">
                <div class="box-header">
                    <h3 class="box-title">使用须知</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        </thead>
                        <tbody>
                        {notempty name="know"}
                        {volist name="know" id="single"}
                        <tr>
                            <td>{$single.know_id}</td>
                            <td>{$single.know_content}</td>
                        </tr>
                        {/volist}
                        {/notempty}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="tab-pane" id="timeline">
                <div class="box-header">
                    <h3 class="box-title">常见问题</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        </thead>
                        <tbody>
                        {notempty name="question"}
                        {volist name="question" id="single"}
                        <tr>
                            <td>{$single.question_title}</td>
                            <td><?=date('Y-m-d h:i:s',$single['create_time'])?></td>
                        </tr>
                        {/volist}
                        {/notempty}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="settings">
                <div class="box-header">
                    <h3 class="box-title">客户服务</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>角色</th>
                            <th>姓名</th>
                            <th>邮箱</th>
                            <th>电话</th>
                            <th>微信</th>
                        </tr>
                        </thead>

                        <tbody>
                        {notempty name="data"}
                        {volist name="data" id="single"}
                        <tr>
                            <td>{$single.role}</td>
                            <td>{$single.name}</td>
                            <td>{$single.email}</td>
                            <td>{$single.tel}</td>
                            <td>{$single.weixin}</td>
                        </tr>
                        {/volist}
                        {/notempty}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../static/ueditor/ueditor.config.js"></script>
<script src="../../static/ueditor/ueditor.all.min.js"></script>
{/block}