
    {extend name="base/base" /}
    {block name="main"}
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">客户信息</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    姓名：<input type="text" class="form-control" placeholder="{$data.name}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    电话：<input type="text" class="form-control" placeholder="{$data.tel}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    客户来源：<input type="text" class="form-control" placeholder="{$data.customer_s}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    贷款金额：<input type="text" class="form-control" placeholder="{$data.loan_amount}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    芝麻分：<input type="text" class="form-control" placeholder="{$data.credit}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    有无公积金：<input type="text" class="form-control" placeholder="" readonly>
                                </div>
                                <div class="col-xs-6">
                                    有无工作：<input type="text" class="form-control" placeholder="{$data.have_job}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    年龄：<input type="text" class="form-control" placeholder="{$data.age}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    QQ号：<input type="text" class="form-control" placeholder="{$data.qq}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    微信：<input type="text" class="form-control" placeholder="{$data.wx_number}" readonly>
                                </div>
                                <div class="col-xs-6">
                                    申请时间：<input type="text" class="form-control" placeholder="<?=date('Y-m-d h:i:s',$data['add_time'])?>" readonly>
                                </div>
                                <div class="col-xs-6">
                                    电话状态：<input type="text" class="form-control" placeholder="{$data.tel_status}" readonly>
                                </div>
                                <div class="col-xs-9">
                                    文档文件：<a href="" class="form-control">资料.docx</a><br/>
                                             <a href="" class="form-control">资料.docx</a>
                                </div>
                                <div class="col-xs-9">
                                    信息备注：<textarea class="form-control" readonly>{$data.remark}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        <!-- /.content -->
    <!-- /.content-wrapper -->
<!-- ./wrapper -->

<!-- jQuery 3 -->
{/block}

