<footer class="ind_foot">

    <div class="container">

        <p>

            <span>版权所有：福州腾云金投信息科技有限公司 COPYRIGHT@2017 粤ICP备09082528号-1</span>

        </p>

    </div>

</footer>

</div>



<script type="text/javascript" src="__STATIC__/home/js/wow.min.js"></script>

<script type="text/javascript">
    var wow = new WOW({

        boxClass: 'wow',

        animateClass: 'animated',

        offset: 0,

        mobile: true,

        live: true

    });

    wow.init();
</script>


</body>

</html>