<header>

    <div class="container over">
        <div class="logo left">
            <a href="#" title="logo" style="font-size: 36px; color: #fff;">LOGO</a>
        </div>

        <nav class="right">
            <li id="topMenu1">
                <a href="/home/index" title="首页">首页</a>
            </li>
            <li id="topMenu3">
                <a href="/home/service" title="产品介绍">数据服务</a>
            </li>
            <li id="topMenu4">
                <a href="/home/news" title="新闻资讯">新闻资讯</a>
            </li>
            <li id="topMenu5">
                <a href="/home/about" title="关于我们">关于我们</a>
            </li>
            <li id="topMenu6">
                <a href="/home/cooperation" title="合作加盟">合作入驻</a>
            </li>
            <li id="topMenu7">
                <a href="/borrower/login" title="商家登录">商家登录</a>
            </li>
        </nav>

    </div>

</header>