<!DOCTYPE html>

<html class="h_mfw">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width,initial-scale=1,initial-scale=1,maximum-scale=1,user-scalable=0">

    <!-- IOS6全屏 Chrome高版本全屏 ================================================== -->

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="mobile-web-app-capable" content="yes">

    <!--[if IE 8]>

    <meta http-equiv="refresh" content="2; url=index_ie8.html">

    <![endif]-->

    <title>新闻资讯 - 福州腾云数据</title>

    <meta name="description" content="福州腾云数据是专注于信贷大数据的专业平台">
    <meta name="keywords" content="福州腾云数据,信贷数据,福州腾云数据,贷款数据,借条引流,借条导流,借款人数据,网贷借款人数据,网贷乙方,现金贷乙方,现金贷甲方">

    <!-- swiper3版本插件调用库 -->

    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/animate.min.css">
    <script type="text/javascript" src="__STATIC__/home/js/jquery-1.10.1.min.js"></script>
</head>

<body class="b_mfw" style="">

<div class="box ">

    {include file="base/header"}
    <script type="text/javascript">
        $('#topMenu4').attr('class', 'active')
    </script>
    <div class="banner " style=" background:url(__STATIC__/home/images/59dc83f57dc70.jpg) no-repeat center center;">

        <div class="container">

            <em></em>

            <div>

                <h2 class="ban_big">你关注的人，决定你看到的世界</h2>

            </div>

        </div>

    </div>

    <div class="content content_md1">


        <div class="section section_tit section_new">
            <div class="container">
                <h2>新闻公告</h2>
                <div>
                    <div>

                        <a href="">
                            <dl>
                                <dt>
                                    <img src="__STATIC__/home/images/201803121845366568.png">
                                </dt>
                                <dd>
                                    <h3>明特量化：大数据和算法是金融创新的底层技术</h3>
                                    <p>这两年，金融领域的关键词是什么? 金融科技。 不管是BATJ，还是创投圈，都在押注技术为王，似乎谁不快马加鞭就将错失再次登峰造极的可能。 那么，如果给金融科技一个形象，它像一个野..

                                    </p>
                                    <div>
                                        <span class="time">2018-03-12</span>
                                        <span href="?id=41" class="more">+ 查看更多</span>
                                    </div>
                                </dd>
                            </dl>
                        </a>
                        <a href="">
                            <dl>
                                <dt>
                                    <img src="__STATIC__/home/images/201803121842016057.png">
                                </dt>
                                <dd>
                                    <h3>INK集团：发挥大数据在互联网金融风控中的作用</h3>
                                    <p>在大数据、区块链、云计算、人工智能等新技术的应用下，科技金融在中国迎来了爆发式的增长，其中大数据技术在金融行业的应用不仅使得金融行业整体更加高效，同时带动了金融行业实现信息化转型，..</p>
                                    <div>
                                        <span class="time">2018-03-10</span>
                                        <span href="?id=40" class="more">+ 查看更多</span>
                                    </div>
                                </dd>
                            </dl>
                        </a>
                        <a href="">
                            <dl>
                                <dt>
                                    <img src="__STATIC__/home/images/201801171856253605.png">
                                </dt>
                                <dd>
                                    <h3>去识别化-- 应用大数据和AI 于金融科技的重要基础建设</h3>
                                    <p>任何產业的发展，若期能可长可久，基础建设的建立与维护常是不可或缺的一环。制造业的基本建设，是能源，交通，原物材料等等，而金融產业则最重要的则是资讯（数据）。以目前全球的股市之能够如..</p>
                                    <div>
                                        <span class="time">2018-01-16</span>
                                        <span href="?id=33" class="more">+ 查看更多</span>
                                    </div>
                                </dd>
                            </dl>
                        </a>
                        <a href="">
                            <dl>
                                <dt>
                                    <img src="__STATIC__/home/images/201801171755379166.png">
                                </dt>
                                <dd>
                                    <h3>聊一聊“大数据+金融”那些事儿，大数据颠覆传统金融，大数据+金融将大有可为！</h3>
                                    <p>大数据颠覆传统金融，大数据+金融将大有可为 &nbsp;&nbsp;大数据的热潮早已从理论界蜂拥到资本界、实业界。不少头顶大数据概念光环的企业得到资本的青睐和竞相追逐。 &nbsp;&nbsp;传统金融IT业发展进入拐..
                                    </p>
                                    <div>
                                        <span class="time">2018-01-13</span>
                                        <span href="?id=30" class="more">+ 查看更多</span>
                                    </div>
                                </dd>
                            </dl>
                        </a>
                        <table width="100%">



                        </table>
                    </div>
                    <div class="page">
                        <a href="">&lt;</a>
                        <a class="active">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">&gt;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section_year">
            <div>
                <div class="container">
                    <h2>福州腾云数据大事件</h2>
                    <div class="year_list">
								<span>
									<img src="__STATIC__/home/images/md_d1.png">
								</span>
                        <div>
                            <div class="overs overs_right">
                                <div>
                                    <small class="year_n">2017</small>
                                    <small>
                                        <img src="__STATIC__/home/images/md_d2.png">
                                    </small>
                                    <small>
                                        <img src="__STATIC__/home/images/md_d3.png">
                                    </small>
                                    <div>
                                        <span>06</span>
                                        <p>福州腾云数据平台成立</p>
                                    </div>
                                </div>
                            </div>
                            <div class="overs overs_right">
                                <div>
                                    <small class="year_n">2017</small>
                                    <small>
                                        <img src="__STATIC__/home/images/md_d2.png">
                                    </small>
                                    <small>
                                        <img src="__STATIC__/home/images/md_d3.png">
                                    </small>
                                    <div>
                                        <span>08</span>
                                        <p>福州腾云数据正式上线</p>
                                    </div>
                                </div>
                            </div>
                            <div class="overs overs_right">
                                <div>
                                    <small class="year_n">2017</small>
                                    <small>
                                        <img src="__STATIC__/home/images/md_d2.png">
                                    </small>
                                    <small>
                                        <img src="__STATIC__/home/images/md_d3.png">
                                    </small>
                                    <div>
                                        <span>09</span>
                                        <p>福州腾云数据自研黑爬虫系统投入使用</p>
                                    </div>
                                </div>
                            </div>
                            <div class="overs overs_right">
                                <div>
                                    <small class="year_n">2017</small>
                                    <small>
                                        <img src="__STATIC__/home/images/md_d2.png">
                                    </small>
                                    <small>
                                        <img src="__STATIC__/home/images/md_d3.png">
                                    </small>
                                    <div>
                                        <span>10</span>
                                        <p>累积为全国100位合作商家提供数据服务</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span>
									<img src="__STATIC__/home/images/md_d5.png">
								</span>
                    </div>
                    <p>未来，我们与福州腾云一起创造更多奇迹！</p>
                </div>
            </div>
        </div>

    </div>



    {include file="base/footer"}