<!DOCTYPE html>
<html class="h_mfw">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用 webkit -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width,initial-scale=1,initial-scale=1,maximum-scale=1,user-scalable=0">

    <!-- IOS6全屏 Chrome高版本全屏 ================================================== -->

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="mobile-web-app-capable" content="yes">

    <!--[if IE 8]>

    <meta http-equiv="refresh" content="2; url=index_ie8.html">

    <![endif]-->

    <title>数据服务 - 福州腾云数据</title>

    <meta name="description" content="福州腾云数据是专注于信贷大数据的专业平台">
    <meta name="keywords" content="福州腾云数据,信贷数据,深圳腾数据,贷款数据,借条引流,借条导流,借款人数据,网贷借款人数据,网贷乙方,现金贷乙方,现金贷甲方">

    <!-- swiper3版本插件调用库 -->

    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/style.css">

    <!--<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/css.css">-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/animate.min.css">

    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/animate.min.css">
    <script type="text/javascript" src="__STATIC__/home/js/jquery-1.10.1.min.js"></script>
</head>

<body class="b_mfw" style="">

<div class="box ">

    {include file="base/header"}
    <script type="text/javascript">
        $('#topMenu3').attr('class', 'active')
    </script>


    <div class="banner banner_01" style="background:url(__STATIC__/home/images//59dae0b41fb4c.jpg) no-repeat center center;">

        <div class="container">

            <em></em>

            <div>


                <h2 class="wow slideInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInLeft;">福州腾云金融大数据服务</h2>
                <div class=" wow slideInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInRight;">

                    <p>福州腾云数据是一家领先专业的信贷大数据平台，通过自有强势资源及良好的外部合作协调能力
                        <br>我们聚合互联网规模化广告投放，信贷管理平台,信贷管理APP及各类CPA,CPS金融服务平台
                        <br>通过自研的云端API整合技术进行实时数据传输对接，实现并打通信贷大数据最后一公里，致力于解决资金的需求与被需求</p>

                </div>
            </div>

        </div>

    </div>

    <div class="content content_md1">


        <div class="container">
            <figure class="">
                <div class="left wow slideInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInLeft;">
                    <img src="__STATIC__/home/images//59dae40df1af2.png" alt="选择腾讯云 客户无忧">
                </div>
                <figcaption class="right wow slideInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInRight;">
                    <em></em>
                    <div>
                        <h3>选择深圳腾 客户无忧</h3>
                        <p>深圳腾金融云，通过聚合互联网规模化广告投放，信贷管理平台，信贷管理APP及各类CPA,CPS金融服务平台，通过自有云端数据库比对、结合大数据快速分析客户债务状况，挑选优质借款客户，将客户资料快速传输至合作商家后台，满足双方需求，帮助客户解决资金问题，协助信贷经理及金融公司提升业绩
                            增加收益！</p>
                    </div>
                </figcaption>
            </figure>
            <figure class="">
                <figcaption class="left wow slideInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInLeft;">
                    <em></em>
                    <div>
                        <h3>大数据多维度筛选客户</h3>
                        <p>福州腾云数据通过利用外部大数据及自研信贷黑爬虫技术从用户的信用历史状况，偿债能力分析，各平台对用户的决策依据等多维度识别还款能力，同时从用户收入来源，可支配收入，当前负债平台信息等多维度筛选客户，确保客户优质性，保证合作商利益最大化</p>
                    </div>
                </figcaption>
                <div class="right wow slideInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInRight;">
                    <img src="__STATIC__/home/images//59dae3ee356f3.png" alt="大数据多维度构建用户画像">
                </div>
            </figure>
            <figure class="">
                <div class="left wow slideInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInLeft;">
                    <img src="__STATIC__/home/images//61.png" alt="垫后贴心管家">
                </div>
                <figcaption class="right wow slideInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInRight;">
                    <em></em>
                    <div>
                        <h3>云端客户画像-数据采样截止2018-04-26</h3>
                        <p>
                            性别：男≈58% 女≈42%
                            <br>年龄：≈27（综合平均数据）
                            <br>地区：新疆、西藏、四川局部、福建局部除外的地区
                            <br>薪资：≈3300-5800（过往综合平均数据）
                            <br>职业：事业单位≈16%、国企≈9%、私企≈62%、其他≈13%
                            <br>更多信息请登录...</p>
                    </div>
                </figcaption>


                <figure class="">
                    <figcaption class="left wow slideInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInLeft;">
                        <em></em>
                        <div>
                            <h3>持续的服务管家及贴心伙伴</h3>
                            <p>福州腾云合作团队在金融业平均从业年龄为4年，其中多位精英曾在国内知名互联网金融企业任职，在后续的合作中，我们乐意将我们快速高品质的一手金融行业信息及时传达给合作商，使得合作商具备快速了解行业动向、制定精准运营策略的条件，达到与我们共进步，同成长的持续双赢局面</p>
                        </div>
                    </figcaption>
                    <div class="right wow slideInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: slideInRight;">
                        <img src="__STATIC__/home/images//59e721f785f5b.jpg" alt="大数据多维度构建用户画像">
                    </div>

                </figure>
            </figure>
        </div>


    </div>



    <footer class="ind_foot">

        <div class="container">

            <p>

                <span>版权所有：福州腾云金投信息科技有限公司 COPYRIGHT@2017 粤ICP备09082528号-1</span>

            </p>

        </div>

    </footer>

</div>



<script type="text/javascript" src="__STATIC__/home/js/wow.min.js"></script>

<script type="text/javascript">
    var wow = new WOW({

        boxClass: 'wow',

        animateClass: 'animated',

        offset: 0,

        mobile: true,

        live: true

    });

    wow.init();
</script>


</body>

</html>