@charset"utf-8";
/*---------------------------------初始化样式----------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: border-box;
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: initial;
}

li {
    list-style: none;
}

img {
    display: inline-block;
    vertical-align: middle;
}

span {
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input,
select {
    -webkit-appearance: none;
    border: 0;
    outline: none;
}

em {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.over {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.opi_re {
    position: relative;
}

.container {
    width: 1000px;
    margin: auto;
}

.fl_box {
    position: relative;
}

/*---------------------------------header----------------------------------*/

header {
    height: 50px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
}

header nav li {
    float: left;
}

header.ind_head {
    background-color: rgba(0, 0, 0, .3);
}

.logo {
    font-size: 0;
}

nav {
    margin-right: -20px;
}

nav li {
    margin: 0 10px;
    border-bottom: solid 3px rgba(0, 0, 0, 0);
    height: 50px;
    transition: all 0.3s linear 0.1s;
}

nav li a {
    color: #fff;
    float: left;
    padding: 0 15px;
    transition: all 0.3s linear 0.1s;
}

nav li.active,
nav li:hover {
    border-bottom: solid 3px #fb793c;
}

nav li.active a,
nav li:hover a {
    color: #fb793c;
}

/*---------------------------------footer----------------------------------*/

footer {
    height: 80px;
    line-height: 80px;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0px;
    color: #cdcdcd;
}

footer p span,
footer p a {
    color: #666666;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-family: "宋体";
}

footer p .big {
    text-transform: uppercase;
}

footer.ind_foot p a {
    display: inline-block;
    vertical-align: middle;
    color: #cdcdcd;
}

footer.ind_foot {
    height: 40px;
    line-height: 40px;
    background-color: #191919;
}

footer.ind_foot p span,
footer.ind_foot p a {
    color: #cdcdcd;
}

footer.fl_foot {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer.fl_foot p span,
footer.fl_foot p a {
    color: #c8c8c8;
}

/*-----------------------------------page---------------------------------*/

.page {
    text-align: center;
    font-size: 0;
    margin: 30px 0 35px;
}

.page a {
    font-family: "宋体";
    width: 32px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    background-color: #747474;
    margin: 0 5px;
}

.page a.active {
    background-color: #fb793c;
}

.page_fh {
    overflow: hidden;
    margin: 60px 0;
}

.page_fh a {
    float: right;
    font-size: 0;
}

.page_fh a span {
    font-size: 14px;
    color: #fb793c;
    margin-left: 10px;
}

/*---------------------------------index----------------------------------*/

.ind_content {
    height: 100%;
}

.ind_content>div {
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .75);
}

.ind_tit {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.ind_tit p {
    color: #fff;
    font-size: 28px;
    margin-top: 20px;
}

.banner {
    height: 400px;
}

.banner .container {
    height: 100%;
    text-align: center;
}

.banner .container>div {
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
    color: #fff;
}

.banner .container>div h2 {
    font-size: 26px;
}

.banner_01 h2 {
    background: url(../images/01banner_x.png) no-repeat center bottom;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.banner_01 p {
    font-size: 16px;
}

.content_md1 figure {
    height: 520px;
    font-size: 0;
    width: 1000px;
}

.content_md1 figure>div {
    height: 100%;
    line-height: 520px;
}

.content_md1 figure figcaption {
    width: 463px;
    height: 100%;
}

.content_md1 figure figcaption>div {
    display: inline-block;
    vertical-align: middle;
}

.content_md1 figure h3 {
    border-bottom: solid 1px #cdcdcd;
    font-size: 22px;
    color: #f9783c;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.content_md1 figure p {
    font-size: 14px;
    line-height: 28px;
    color: #666666;
}

.section_tit h2 {
    font-size: 22px;
    color: #333333;
    width: 460px;
    border-bottom: solid 1px #cdcdcd;
    padding: 20px 0;
    margin-top: 10px;
}

.section_new dl {
    overflow: hidden;
    margin-top: 30px;
}

.section_new dt {
    float: left;
}

.section_new dd {
    width: 811px;
    float: right;
}

.section_new dd h3 {
    font-size: 20px;
    color: #333;
    transition: all 0.3s linear 0.1s;
}

.section_new dd p {
    font-size: 14px;
    color: #9e9e9e;
    line-height: 22px;
    margin: 10px 0 10px;
}

.section_new dd>div {
    overflow: hidden;
}

.section_new dd>div span {
    font-size: 12px;
    color: #c4c4c4;
    font-family: "宋体"
}

.time {
    float: left;
}

.more {
    float: right;
    transition: all 0.3s linear 0.1s;
}

.section_new dl:hover dd h3,
.section_new dl:hover dd .more {
    color: #fb793c;
}

.section_year {
    background: url(../images/year_bg.jpg) no-repeat center center;
    height: 888px;
    overflow: hidden;
}

.section_year>div {
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    padding-top: 45px;
}

.section_year h2 {
    text-align: center;
    color: #fb793c;
    font-size: 30px;
}

.section_year .container>p {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.year_list {
    text-align: center;
    font-size: 0;
    margin: 30px 0;
}

.year_n {
    font-size: 18px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 43px;
}

.year_list .overs>div {
    overflow: hidden;
    width: 565px;
}

.year_list .overs div>div {
    display: inline-block;
    vertical-align: middle;
}

.year_list .overs span {
    width: 65px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    color: #fff;
    font-size: 24px;
    height: 115px;
    line-height: 115px;
}

.year_list .overs p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 18px;
    height: 115px;
    line-height: 115px;
}

.year_list .overs:nth-child(2n+1)>div {
    margin-left: 435px;
}

.year_list .overs:nth-child(2n+1) .year_n {
    margin-right: 10px;
}

.year_list .overs:nth-child(2n+1)>div small,
.year_list .overs:nth-child(2n+1)>div div {
    float: left;
    height: 115px;
    line-height: 115px;
}

.year_list .overs:nth-child(2n+1) span {
    background: url(../images/md_d4.png) no-repeat center center;
    padding-left: 9px;
    float: left;
}

.year_list .overs:nth-child(2n+1) p {
    float: left;
    margin-left: 10px;
}

.year_list .overs:nth-child(2n)>div {
    margin-right: 435px;
}

.year_list .overs:nth-child(2n) .year_n {
    margin-left: 10px;
}

.year_list .overs:nth-child(2n)>div small,
.year_list .overs:nth-child(2n)>div div {
    float: right;
    height: 115px;
    line-height: 115px;
}

.year_list .overs:nth-child(2n) span {
    background: url(../images/md_d42.png) no-repeat center center;
    padding-right: 9px;
    float: right;
}

.year_list .overs:nth-child(2n) p {
    float: right;
    margin-right: 10px;
}

.new_tit {
    text-align: center;
    margin: 30px 0;
}

.new_tit h3 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.new_tit .time {
    font-size: 14px;
    color: #c4c4c4;
    float: initial;
}

.section_zm {
    margin-bottom: 60px;
}

.section h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.section p {
    font-size: 18px;
    line-height: 28px;
}

.section_abo1 {
    background: url(../images/bg1.png) no-repeat center center;
    height: 400px;
}

.section_abo1 .container {
    height: 100%;
}

.section_abo1 .container>div {
    display: inline-block;
    vertical-align: middle;
    width: 720px;
    margin-top: 50px;
}

.section_abo1 h2 {
    color: #fb793c;
}

.section_abo1 p {
    color: #8e8e8e;
}

.section_abo2 {
    background-color: #f2edf0;
}

.section_abo2 .left {
    height: 400px;
}

.section_abo2 .left>div {
    display: inline-block;
    vertical-align: middle;
}

.section_abo2 .right {
    height: 400px;
    line-height: 400px;
}

.section_abo2 ul {
    overflow: hidden;
    margin-left: -5px;
    margin-top: 50px;
}

.section_abo2 ul li {
    float: left;
    width: 42px;
    text-align: center;
    height: 59px;
    line-height: 59px;
    border: solid 1px #464145;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 5px;
    font-size: 40px;
    color: #352d32;
}

.section_abo2 ul span {
    float: left;
    height: 59px;
    line-height: 60px;
    width: 20px;
    text-align: center;
    font-size: 40px;
    color: #352d32;
}

.section_abo3 {
    padding: 50px 0;
}

.section_abo3 h2 {
    text-align: center;
}

.section_abo3 ul {
    overflow: hidden;
}

.section_abo3 ul li {
    float: left;
    width: 25%;
    text-align: center;
    height: 125px;
    line-height: 125px;
}

.sectio_tit {
    text-align: center;
}

.sectio_tit p {
    font-size: 16px;
}

.sectio_tit a {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    width: 138px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background-color: #353036;
    border-radius: 5px;
    margin-top: 25px;
}

.zhaopin_tit {
    background: url(../images/zp_x.jpg) no-repeat center top;
    text-align: center;
    padding: 20px 0 30px;
    margin-top: 40px;
}

.zhaopin_tit h3 {
    font-size: 18px;
    color: #333333;
}

.section_abo4 {
    background-color: #f2edf0;
    padding: 50px 0;
}

.section_abo4 .sectio_tit p {
    color: #666;
}

.zhaopin ul {
    overflow: hidden;
}

.zhaopin li {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 0 19px;
    float: left;
}

.zhaopin li a {
    display: inline-block;
    width: 126px;
    text-align: center;
    height: 126px;
    line-height: 128px;
    font-size: 22px;
    color: #fff;
    border-radius: 50%;
    transform: scale(0.8);
    transition: all 0.3s linear 0.1s;
}

.zhaopin li:nth-child(1) {
    border: solid 1px #f8745b;
}

.zhaopin li:nth-child(1) a {
    background-color: #f8745b;
}

.zhaopin li:nth-child(2) {
    border: solid 1px #ead459;
}

.zhaopin li:nth-child(2) a {
    background-color: #ead459;
}

.zhaopin li:nth-child(3) {
    border: solid 1px #a99fef;
}

.zhaopin li:nth-child(3) a {
    background-color: #a99fef;
}

.zhaopin li:nth-child(4) {
    border: solid 1px #7cc0f6;
}

.zhaopin li:nth-child(4) a {
    background-color: #7cc0f6;
}

.zhaopin li:nth-child(5) {
    border: solid 1px #71e0d9;
}

.zhaopin li:nth-child(5) a {
    background-color: #71e0d9;
}

.zhaopin li:nth-child(6) {
    border: solid 1px #fab9b1;
}

.zhaopin li:nth-child(6) a {
    background-color: #fab9b1;
}

.zhaopin li:hover a {
    transform: scale(1);
}

.section_abo5 {
    padding: 50px 0 100px;
}

.section_abo5 h2 {
    text-align: center;
    margin-bottom: 60px;
}

.section_abo5 ul {
    margin-top: 40px;
}

.section_abo5 li {
    line-height: 40px;
}

.section_abo5 li small {
    margin-right: 10px;
    width: 24px;
    display: inline-block;
}

.section_abo5 li span {
    font-size: 18px;
    color: #666666;
}

.content_mdTact {
    background: url(../images/contact_bg.jpg) no-repeat center center;
    height: 1650px;
    overflow: hidden;
}

.contact_tit {
    margin-top: 148px;
}

.contact_tit h2 {
    text-align: center;
    margin-bottom: 10px;
}

.contact_tit p {
    margin-left: 137px;
    font-size: 22px;
    color: #fff;
    line-height: 38px;
}

.section_tact {
    margin-top: 168px;
}

.section_tact .zhaopin_tit h3 {
    color: #fb793c;
}

.section_tact2 {
    margin-top: 60px;
    padding: 0 60px;
}

.section_tact2 .tact_tit h3 {
    text-align: left;
    color: #ead459;
    font-size: 22px;
    margin-bottom: 25px;
}

.section_tact2 ul {
    margin-bottom: 70px;
    line-height: 30px;
}

.section_tact2 ul h3 {
    font-size: 16px;
    color: #333333;
}

.section_tact2 ul li {
    color: #8e8e8e;
    font-size: 16px;
}

.slider {
    position: fixed;
    right: 10px;
    top: 20%;
    z-index: 1000;
}

.slider li {
    width: 130px;
    height: 130px;
    text-align: center;
    position: relative;
}

.slider li>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider li>div:nth-child(2) {
    line-height: 130px;
    font-size: 0;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: all 0.3s linear 0.1s;
}

.slider li>div>div {
    display: inline-block;
    vertical-align: middle;
}

.slider li small {
    display: block;
    margin-bottom: 5px;
}

.slider li span {
    color: #fff;
}

.slider li:hover>div:nth-child(2) {
    opacity: 1;
}

.year_list>span {
    margin-right: -1px;
    width: 32px;
    text-align: center;
}

.banner .container>div h2.ban_big {
    font-size: 34px;
}

/*--------------------------------------------------*/

body,
html {
    min-width: 1000px;
    min-height: 100%;
}

.section_abo3 ul li img {
    filter: Gray;
    -webkit-filter: grayscale(100%);
    transition: all 0.3s linear 0.1s;
}

.section_abo3 ul li:hover img {
    filter: Gray;
    -webkit-filter: grayscale(0%);
}

.zhaopin li:nth-child(1),
.zhaopin li:nth-child(6) {
    animation-delay: 0.6s !important;
}

.zhaopin li:nth-child(2),
.zhaopin li:nth-child(5) {
    animation-delay: 0.4s !important;
}

.zhaopin li:nth-child(3),
.zhaopin li:nth-child(4) {
    animation-delay: 0.2s !important;
}

.section_tact2>div {
    height: 515px;
    overflow-x: hidden;
}

.h_mfw,
.b_mfw,
.b_mfw .box {
    height: 100%;
}

footer.ind_foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.year_list>span:first-child {
    margin-right: -2px;
}

header {
    position: absolute;
}

@media screen and ( min-width: 1920px) {
    .ind_content,
    .banner {
        background-size: 100% 100% !important;
    }
}