{extend name="base/base" /}
{block name="main"}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->

        <div class="box">


            <div class="box-header">
                <h3 class="box-title">账户余额-历史记录</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <div style="position: relative">
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o" id="delete"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default" id="add-model">
                            添加
                        </button>
                    </div>
                    <tr>
                        <th></th>
                        <th>金额</th>
                        <th>说明</th>
                        <th>时间</th>
                    </tr>
                    </thead>
                    <tbody>

                    {notempty name="data"}
                    {volist name="data" id="single"}
                    <tr>
                        <td><input type="checkbox" name="checkNum" value="{$single.id}" class="checkSingle"></td>
                        <td>{$single.balance}</td>
                        <td>{$single.describe}</td>
                        <td>{$single.add_time}</td>
                        <td>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit" value="{$single.id}" id="edit_balance_button">
                                编辑
                            </button>
                        </td>
                    </tr>
                    {/volist}
                    {/notempty}

                    </tbody>
                </table>
            </div>



            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">添加</h4>
                        </div>
                        <form>
                            <div class="modal-body">
                                <input type="hidden" name="user_id" value="{$user_id}">
                                <label>金额</label>
                                <input name="balance" value="" id="tel" type="text" class="form-control">
                                <label>说明</label>
                                <input name="describe" id="age" type="text" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="add" data-dismiss="modal">确认添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>




            <div class="modal fade" id="edit">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">编辑</h4>
                        </div>
                        <form enctype="multipart/form-data form-horizontal">
                            <div class="modal-body">
                                <input type="hidden" name="id" value="">
                                <input type="hidden" name="user_id" value="{$user_id}">
                                <label>金额</label>
                                <input name="balance2" value=""type="text" class="form-control">
                                <label>说明</label>
                                <input name="describe2" type="text" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="editBalance" data-dismiss="modal">确认修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
<script>



    //添加
    $("#add").click(function () {
        $.ajax({
            type: "post",
            url: '/admin/addBalanceManage',
            data: {
                'user_id': $("[name='user_id']").val(),
                'balance': $("[name='balance']").val(),
                'describe': $("[name='describe']").val(),
            },
            dataType: "json",
            success: function(data) {
                if(data.code == '500') {
                    alert(data.msg);
                }else {
                    alert('添加成功');
                    window.location.reload();
                }
            },
            error:function(){
                alert('系统错误');
            }
        });
    });

    $("#edit_balance_button").click(function () {
        $.ajax({
            type: "get",
            url: '/admin/getBalanceManage',
            data: {
                'id': $(this).val(),
            },
            dataType: "json",
            success: function(result) {
                if(result.code == '500') {
                    alert(result.msg);
                }else {
                    $("[name='id']").val(result.data.id),
                    $("[name='balance2']").val(result.data.balance),
                    $("[name='describe2']").val(result.data.describe)
                }
            },
            error:function(){
                alert('系统错误');
            }
        });
    })

    //确认修改
    $("#editBalance").click(function () {
        $.ajax({
            type: "post",
            url: '/admin/editBalanceManage',
            data: {
                'id': $("[name='id']").val(),
                'user_id': $("[name='user_id']").val(),
                'balance': $("[name='balance2']").val(),
                'describe': $("[name='describe2']").val(),
            },
            dataType: "json",
            success: function(data) {
                if(data.code == '500') {
                    alert(data.msg);
                }else {
                    alert('修改成功');
                    window.location.reload();
                }
            },
            error:function(){
                alert('系统错误');
            }
        });
    });


    $(".checkbox-toggle").click(function () {

        $(".checkSingle").attr('checked','checked');

        var clicks = $(this).data('clicks');
        if (clicks) {
            //Uncheck all checkboxes
            $("input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
        } else {
            //Check all checkboxes
            $("input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
        }
        $(this).data("clicks", !clicks);
    });

    $(".checkSingle").on("click",function () {
        $(this).attr('checked','checked');
    });

    //删除
    $("#delete").on("click",function () {

        var obj=document.getElementsByName('checkNum');
        var s='';
        for(var i=0; i<obj.length; i++){
            if(obj[i].checked){
                s += obj[i].value;
                s += ',';
            }
        }

        $.ajax({
            type: "post",
            url: '/admin/delete',
            data: {
                'type': 6,
                'checkNum': s
            },
            dataType: "json",
            success: function (data) {
                alert(data.msg);
                if (data.code == '204') {
                    window.location.reload();
                }
            },
            error: function () {
                alert('系统错误');
            }
        });
    })


</script>
{/block}