{extend name="base/base" /}
{block name="main"}
<div class="row">


    <form class="well form-search" method="get" action="">
        <div class="search_type cc mb10">
            <div class="mb11">
                贷款金额：
                <div id="bt1">全部</div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div id="bt2">￥1000 - ￥2000</div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div id="bt3">￥2001 - ￥5000</div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div id="bt4">￥5001 - ￥10000</div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div id="bt5">￥10001 - ￥20000</div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div id="bt6">￥20000以上</div>
            </div>
            <div class="mb10">
                申请时间：
                <input type="text" name="start_time" class="layui-input" value="{:input('start_time')}"  style="width: 100px;"  autocomplete="off" id="test">
                <input type="button" class="btn btn-primary" id="select" value="搜索" />
                <a class="btn btn-danger" href="/borrower/customer">清空</a>
            </div>
        </div>
    </form>






    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">客户管理</h3>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <div style="position: relative">
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o" id="checkCustomer"></i></button>
                        <button class="pull-right" id="distribute" data-toggle="modal" data-target="#customer_distribute">分配</button>
                        <select name="quick_distribute" class="pull-right">
                            <option value="">快速分配</option>
                            <option value="500">500条</option>
                            <option value="1000">1000条</option>
                            <option value="2000">2000条</option>
                            <option value="3000">3000条</option>
                        </select>
                        <a href="addCustomer" type="button" class="btn btn-default pull-right">
                            添加新客户
                        </a>
                    </div>
                    <tr>
                        <th></th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>联系电话</th>
                        <th>微信账号</th>
                        <th>贷款金额</th>
                        <th>芝麻信用分</th>
                        <th>申请时间</th>
                        <th>详细信息</th>
                    </tr>
                    </thead>
                    <tbody class="content" id="content">

                   </tbody>
                </table>
            </div>





            <div class="modal fade" id="customer_distribute">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <form>
                            <div class="modal-body">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th></th>
                                        <th>姓名</th>
                                        <th>电话号码</th>
                                    </tr>
                                    <tbody id="user_list">

                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="sure_distribute" data-dismiss="modal">确认分配</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__STATIC__/layDate/laydate/laydate.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script>
    $(".mb11").find('div').css('display','inline-block');
    $(".mb11").find('div').css('background-color','#ddd');
    $(".mb11").find("div").css('cursor','pointer');
    $(".mb11").find("div").click(function(){
        $(".mb11").find("div").css("background-color","#ddd");
        $(".selectMoney").removeClass("selectMoney");
        $(this).attr("class","selectMoney");
        $(this).css("background-color","#999");
    });

    //初始化数据
    $.ajax({
        type: "get",
        url: '/admin/getCustomerData',
        data: {},
        dataType: "json",
        success: function(result) {
            var str = userStr ='';
            if(result.code == '200'){
                for(var i=0 ; i < result.data.customerList.length ; i ++){
                    str = str + ' <tr> <td><input type="checkbox" name="checkNum" value="'+result.data.customerList[i].customer_id+'" class="checkSingle"></td>\n' +
                        '                        <td>'+result.data.customerList[i].name+'</td>\n' +
                        '                        <td>'+result.data.customerList[i].age+'</td>\n' +
                        '                        <td>'+result.data.customerList[i].tel+'</td>\n' +
                        '                        <td>'+result.data.customerList[i].wx_number+'</td>\n' +
                        '                        <td>'+result.data.customerList[i].loan_amount+'</td>\n' +
                        '                        <td>'+result.data.customerList[i].credit+'</td>\n' +
                        '                        <td>'+result.data.customerList[i].add_time+'</td>\n' +
                        '                        <td><a href="/admin/customerDetail/'+result.data.customerList[i].customer_id+'" type="button" class="btn btn-default">\n' +
                        '                            查看\n' +
                        '                        </a>\n' +
                        '                        <a href="/admin/editCustomer/'+result.data.customerList[i].customer_id+'" type="button" class="btn btn-default">\n' +
                        '                                编辑\n' +
                        '                        </a>\n' +
                        '                        </td> </tr>';
                }

                for(var i=0 ; i < result.data.userList.length ; i ++){
                    userStr += ' <tr>\n' +
                        '                                        <td><input type="checkbox" name="checkUser" value="'+ result.data.userList[i].user_id +'" class="checkSingle"></td>\n' +
                        '                                        <td>'+ result.data.userList[i].real_name +'</td>\n' +
                        '                                        <td>'+ result.data.userList[i].contact +'</td>\n' +
                        '                                    </tr>';
                }
            }else{
                alert('系统错误');
            }
            $("#content").append(str);
            $("#user_list").append(userStr);
        },
        error:function(){
            alert('系统错误');
        }
    });



    //筛选
    $("#select").click(function () {
        $("#content").empty();
        $.ajax({
            type: "get",
            url: '/admin/getCustomerData',
            data: {
                'selectMoney': $(".selectMoney").html(),
                'time': $("[name='time']").val()
            },
            dataType: "json",
            success: function(result) {
                var str = '';
                if(result.code == '200'){
                     for(var i=0 ; i < result.data.length ; i ++){
                         str = str + ' <tr> <td><input type="checkbox" name="checkNum" value="'+result.data.customerList[i].customer_id+'" class="checkSingle"></td>\n' +
                             '                        <td>'+result.data.customerList[i].name+'</td>\n' +
                             '                        <td>'+result.data.customerList[i].age+'</td>\n' +
                             '                        <td>'+result.data.customerList[i].tel+'</td>\n' +
                             '                        <td>'+result.data.customerList[i].wx_number+'</td>\n' +
                             '                        <td>'+result.data.customerList[i].loan_amount+'</td>\n' +
                             '                        <td>'+result.data.customerList[i].credit+'</td>\n' +
                             '                        <td>'+result.data.customerList[i].add_time+'</td>\n' +
                             '                        <td><a href="/admin/customerDetail/'+result.data.customerList[i].customer_id+'" type="button" class="btn btn-default">\n' +
                             '                            查看\n' +
                             '                        </a>\n' +
                             '                        <a href="/admin/editCustomer/'+result.data.customerList[i].customer_id+'" type="button" class="btn btn-default">\n' +
                             '                                编辑\n' +
                             '                        </a>\n' +
                             '                        </td> </tr>';
                     }
                }else{
                    alert('系统错误');
                }
                $("#content").append(str);
            },
            error:function(){
                alert('系统错误');
            }
        });

    });


    //确认分配点击
    $("#sure_distribute").click(function () {

        //客户id
        var obj=document.getElementsByName('checkNum');
        var s='';
        for(var i=0; i<obj.length; i++){
            if(obj[i].checked){
                s += obj[i].value;
                s += ',';
            }
        }
        //用户id
        var userObj =document.getElementsByName('checkUser');

        var user_s = '';
        for(var i=0; i<userObj.length; i++){
            if(userObj[i].checked){
                user_s += userObj[i].value;
                user_s += ',';
            }
        }
        $.ajax({
            type: "post",
            url: '/admin/distributeCustomer',
            data: {
                'checkUser': user_s,
                'distributeNum' : $("[name='quick_distribute']").val(),
                'checkNum' : s
            },
            dataType: "json",
            success: function(data) {
                alert(data.msg);
                if(data.code == '201'){
                    window.location.reload();
                }
            },
            error:function(){
                alert('系统错误');
            }
        });
    })

</script>
<script>

    $(".checkbox-toggle").click(function () {

        $(".checkSingle").attr('checked','checked');

        var clicks = $(this).data('clicks');
        if (clicks) {
            //Uncheck all checkboxes
            $("input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
        } else {
            //Check all checkboxes
            $("input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
        }
        $(this).data("clicks", !clicks);
    });

    $(".checkSingle").on("click",function () {
        $(this).attr('checked','checked');
    });

    $("#checkCustomer").on("click",function () {

        var obj=document.getElementsByName('checkNum');
        var s='';
        for(var i=0; i<obj.length; i++){
            if(obj[i].checked){
                s += obj[i].value;
                s += ',';
            }
        }

        //删除
        $.ajax({
            type: "post",
            url: '/admin/delete',
            data: {
                'type': 2,
                'checkNum': s
            },
            dataType: "json",
            success: function(data) {
                alert(data.msg);
                if(data.code == '204'){
                    window.location.reload();
                }
            },
            error:function(){
                alert('系统错误');
            }
        });
    })


</script>
{/block}