{extend name="base/base" /}
{block name="main"}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->

        <div class="box">


            <div class="box-header">
                <h3 class="box-title">平台用户</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <div style="position: relative">
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o" id="delete"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default" id="add-model">
                            添加新用户
                        </button>
                    </div>
                    <tr>
                        <th></th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>联系电话</th>
                        <th>微信账号</th>
                        <th>账户余额</th>
                        <th>流量计划</th>
                        <th>芝麻信用分</th>
                        <th>详细信息</th>
                    </tr>
                    </thead>
                    <tbody>

                    {notempty name="data"}
                    {volist name="data" id="single"}
                    <tr>
                        <td><input type="checkbox" name="checkNum" value="{$single.user_id}" class="checkSingle"></td>
                        <td>{$single.real_name}</td>
                        <td>{$single.age}</td>
                        <td>{$single.tel}</td>
                        <td>{$single.weixin}</td>
                        <td>{$single.balance}</td>

                        {switch name="$single.flow_plan_status"}
                        {case value="0"} <td style="color: green"><a data-toggle="modal" data-target="#edit-status" id="not_check" class="{$single.user_id}"> {$single.flow_plan}</a></td>{/case}
                        {case value="1"} <td>{$single.flow_plan}</td>{/case}
                        {case value="2"} <td style="color: red"><a style="color: red;" data-toggle="modal" data-target="#edit-status" id="not_pass_check" class="{$single.user_id}">{$single.flow_plan}</a></td>{/case}
                        {/switch}

                        <td>{$single.credit}</td>
                        <td><a type="button" href="/admin/userDetail/{$single.user_id}" class="btn btn-default">
                            查看
                        </a>
                        </td>
                    </tr>
                    {/volist}
                    {/notempty}

                    </tbody>
                </table>
            </div>



            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">添加新用户</h4>
                        </div>
                        <form>
                        <div class="modal-body">
                            <label>真实姓名</label>
                            <input id="real_name" type="text" class="form-control my-colorpicker1" required>
                            <label>密码</label>
                            <input id="password" type="password" class="form-control my-colorpicker1">
                            <label>联系邮箱</label>
                            <input id="email" type="text" class="form-control my-colorpicker1">
                            <label>联系电话</label>
                            <input id="tel" type="text" class="form-control my-colorpicker1">
                            <label>年龄</label>
                            <input id="age" type="text" class="form-control my-colorpicker1">
                            <div class="form-group">
                                <label>锁定城市</label>
                                <select class="form-control" id="province_id" name="province_id">
                                    <option>请选择</option>
                                </select>
                                <select class="form-control" id="city_id" name="city_id">
                                    <option>请选择市</option>
                                </select>
                            </div>
                            <label>联系微信</label>
                            <input id="weixin" type="text" class="form-control my-colorpicker1">
                            <label>芝麻信用分</label>
                            <input id="credit" type="text" class="form-control my-colorpicker1">
                            <label>备用联系人</label>
                            <input id="contact" type="text" class="form-control my-colorpicker1">
                            <label>账户余额</label>
                            <input id="balance" type="text" class="form-control my-colorpicker1">
                            <label>流量计划:(0位/天）</label>
                            <input id="flow_plan" type="text" class="form-control my-colorpicker1">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="add" data-dismiss="modal">确认添加</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>




            <div class="modal fade" id="edit-status">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">审核流量计划</h4>
                        </div>
                        <form>
                            <input type="hidden" name="user_id" id="user_id">
                            <div class="modal-body">
                                是否审核通过?
                                <select name="flow_plan_status">
                                    <option value="1" id="pass">通过</option>
                                    <option value="2" id="not_pass">不通过</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="edit-status-sure" data-dismiss="modal">确认修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
<script>



    //添加用户
    $("#add").click(function () {
        $.ajax({
            type: "post",
            url: '/admin/addUser',
            data: {
                'real_name': $("#real_name").val(),
                'password' : $("#password").val(),
                'email': $("#email").val(),
                'tel': $("#tel").val(),
                'age': $("#age").val(),
                'province_id': $('#province_id').val(),
                'city_id': $("#city_id").val(),
                'weixin': $('#weixin').val(),
                'credit': $('#credit').val(),
                'contact': $('#contact').val(),
                'balance': $('#balance').val(),
                'flow_plan': $('#flow_plan').val()
            },
            dataType: "json",
            success: function(data) {
                if(data.code == '500') {
                    alert(data.msg);
                }else {
                    alert('添加成功');
                    window.location.reload();
                }
            },
            error:function(){
                alert('系统错误');
            }
        });
    });

    //地址选择联动
    $("#add-model").click(function () {
        var dataAreas = [];
        var object = {};
        var provinceList = JSON.parse('{$provinceList}');
        var cityList = JSON.parse('{$cityList}');
        for(var i = 0 ; i < provinceList.length ; i ++){
            object = {
                'pid':provinceList[i].pid,
                'address':provinceList[i].Provincial,
                'parent_type':'0'
            };
            dataAreas.push(object);
        }

        for(var i = 0 ; i < cityList.length ; i ++){
            object = {
                'pid':cityList[i].cid,
                'address':cityList[i].city,
                'parent_type':cityList[i].pid
            };
            dataAreas.push(object);
        }
        for (var i = 0; i < provinceList.length; i++) {
            if (parseInt(dataAreas[i].parent_type) == 0) {
                var option = $("<option>").val(dataAreas[i].pid).text(dataAreas[i].address);
                $("#province_id").append(option);
            }
        }

        $("#province_id").bind("change", function() {
            var code = parseInt($(this).val());
            $("[name='city_id'] option").remove();
            for (var i = 0; i < dataAreas.length; i++) {
                if (parseInt(dataAreas[i].parent_type) == code) {
                    option = $("<option>").val(dataAreas[i].pid).text(dataAreas[i].address);
                    $("[name='city_id']").append(option);
                }
            }
        });
    });

    //赋值
    $("#not_pass_check").click(function () {
        var user_id = $(this).attr("class");
        $("#user_id").val(user_id);
        $("#not_pass").attr('selected', 'selected');
    });

    //赋值
    $("#not_check").click(function () {
        var user_id = $(this).attr("class");
        $("#user_id").val(user_id);
    });

    //编辑状态
    $("#edit-status-sure").click(function () {
        $.ajax({
            type: "post",
            url: '/admin/editUserStatus',
            data: {
                'user_id': $("#user_id").val(),
                'flow_plan_status':  $("[name='flow_plan_status']").val()
            },
            dataType: "json",
            success: function (data) {
                alert(data.msg);
                if (data.code == '201') {
                    window.location.reload();
                }
            },
            error: function () {
                alert('系统错误');
            }
        });
    });




    $(".checkbox-toggle").click(function () {

        $(".checkSingle").attr('checked','checked');

        var clicks = $(this).data('clicks');
        if (clicks) {
            //Uncheck all checkboxes
            $("input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
        } else {
            //Check all checkboxes
            $("input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
        }
        $(this).data("clicks", !clicks);
    });

    $(".checkSingle").on("click",function () {
        $(this).attr('checked','checked');
    });

    //删除
    $("#delete").on("click",function () {

        var obj=document.getElementsByName('checkNum');
        var s='';
        for(var i=0; i<obj.length; i++){
            if(obj[i].checked){
                s += obj[i].value;
                s += ',';
            }
        }

        $.ajax({
            type: "post",
            url: '/admin/delete',
            data: {
                'type': 1,
                'checkNum': s
            },
            dataType: "json",
            success: function (data) {
                alert(data.msg);
                if (data.code == '204') {
                    window.location.reload();
                }
            },
            error: function () {
                alert('系统错误');
            }
        });
    })


</script>
{/block}